[Unit]
Description=kkkustoms service
After=postgresql.service

[Service]
Type=simple
User=http
Group=http
ExecStart=/usr/bin/kkkustoms
Restart=always

[Install]
WantedBy=multi-user.target
